<!DOCTYPE html>
<html>

<head>
    <title>Best Cloud Company</title>
</head>

<body>
    <h1>Welcome to Adam's Test Flask App</h1>
    <p>This app allows you to make HTTP GET requests to external servers by specifying a URL in the form below. As I wasn't very familiar with flask (or web servers), I though building a proxy server might be a good place to start.</p>
    <form action="/" method="get">
        <label for="url">Enter a URL:</label>
        <input type="text" id="url" name="url">
        <input type="submit" value="Submit">
    </form>
    {% if response_text %}
    <div>
        <h2>Response:</h2>
        <pre>{{ response_text }}</pre>
    </div>
    {% endif %}
</body>

</html>